.title {
    text-align: left;
    max-width: 100rem;
    line-height: 1.15;
    font-weight: 450;
    font-size: 2rem;
    padding-bottom: 20px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.underlineTitle {
    border-bottom: 1px solid #E5E9EC;
}

.card {
    margin: 2rem;
    /* padding: 1.5rem; */
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 20rem;
    height: 27rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover,
.card:focus,
.card:active {
    color: #ec4899;
    border-color: #ec4899;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 18px;
    text-align: center;
}

.card p {
    margin: 0 1rem 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #637381;
    text-align: center;
}